In [61]:
import collections
import os

import pandas as pd

In [10]:
dat = pd.read_csv(os.path.join('../data', 'hiphil_triliteral_with_hireq.csv'), sep='\t')
dat.shape

(3141, 37)

In [8]:
mt = dat[dat.scroll == 'MT']
mt.shape

In [13]:
dss = dat[dat.scroll != 'MT'] 
dss.shape

(650, 37)

In [14]:
mt.head()

,tf_id,scroll,book,chapter,verse,lex,g_cons,stem,pattern,pattern_g_cons,...,has_prefix,has_hloc,has_nme,rec_signs_stem,cor_signs_stem,type,vowel_letter,has_vowel_letter,has_hireq,mt_match
0,90,MT,Genesis,1,6,BDL[,MBDJL,BDJL,CCMC,CCCMC,...,0,0,0,nnnn,nnnn,last,J,1,1,NaN
1,182,MT,Genesis,1,11,DC>[,TDC>,DC>,CCM,CCCM,...,0,0,0,nnn,nnn,last,NaN,0,0,NaN
2,187,MT,Genesis,1,11,ZR<[,MZRJ<,ZRJ<,CCMC,CCCMC,...,0,0,0,nnnn,nnnn,last,J,1,1,NaN
3,210,MT,Genesis,1,12,ZR<[,MZRJ<,ZRJ<,CCMC,CCCMC,...,0,0,0,nnnn,nnnn,last,J,1,1,NaN
4,246,MT,Genesis,1,14,BDL[,HBDJL,BDJL,CCMC,CCCMC,...,1,0,0,nnnn,nnnn,last,J,1,1,NaN

In [17]:
mt_hireq = mt[mt.has_hireq == '1']
mt_hireq.shape

(2360, 37)

In [34]:
dss_hireq = dss[dss.has_hireq == '1']
dss_hireq

,tf_id,scroll,book,chapter,verse,lex,g_cons,stem,pattern,pattern_g_cons,...,has_prefix,has_hloc,has_nme,rec_signs_stem,cor_signs_stem,type,vowel_letter,has_vowel_letter,has_hireq,mt_match
2491,1890850,1Q3,Leviticus,22,3,QDC[,JQDJCW,QDJC,NaN,NaN,...,0,0,0,nnnn,nnnn,last,J,1,1,65403
2492,1893020,1Q5,Deuteronomy,29,20,BDL[,HBDJLW,BDJL,NaN,NaN,...,1,0,0,nnnn,nnnn,last,J,1,1,109959
2493,1893145,1Q5,Deuteronomy,31,3,CMD[,JCMJD,CMJD,NaN,NaN,...,0,0,0,nnnn,nnnn,last,J,1,1,110713
2494,1893499,1Q5,Deuteronomy,32,26,CBT[,>CBJT,CBJT,NaN,NaN,...,0,0,0,rnnn,nnnn,last,J,1,1,111792
2495,1894883,1Qisaa,Isaiah,1,2,>ZN[,H>ZJNJ,>ZJN,NaN,NaN,...,1,0,0,nnnn,nnnn,last,J,1,1,212094
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3136,2104434,Mas1b,Leviticus,11,7,PRS[,MPRJS,PRJS,NaN,NaN,...,0,0,0,nnnn,nnnn,last,J,1,1,57952
3137,2106782,Mas1e,Psalms,81,15,KN<[,>KNJ<,KNJ<,NaN,NaN,...,0,0,0,nnnn,nnnn,last,J,1,1,324738
3138,2106808,Mas1e,Psalms,81,17,FB<[,>FBJ<K,FBJ<,NaN,NaN,...,0,0,0,nnnn,nnnn,last,J,1,1,324762
3139,2106840,Mas1e,Psalms,82,3,YDQ[,HYDJQW,YDJQ,NaN,NaN,...,0,0,0,nnnn,nnnn,last,J,1,1,324791
3140,2106849,Mas1e,Psalms,82,4,NYL[,HYJLW,YJL,NaN,NaN,...,0,0,0,nnn,nnn,last,J,1,1,324799

In [46]:
dss_match_ids = [int(dss_id) for dss_id in dss_hireq.mt_match.to_list()]
dss_match_ids

[65403,
 109959,
 110713,
 111792,
 212094,
 212129,
 212229,
 212301,
 212348,
 212659,
 212857,
 213061,
 213289,
 213539,
 213566,
 213573,
 213626,
 213643,
 213664,
 213795,
 213947,
 213950,
 214374,
 214377,
 214877,
 214892,
 214954,
 214959,
 214965,
 215013,
 215118,
 215150,
 215326,
 215637,
 215642,
 216034,
 216224,
 216366,
 216386,
 216472,
 216620,
 216657,
 216670,
 216791,
 217055,
 217062,
 217065,
 217442,
 217738,
 217900,
 218039,
 218237,
 218269,
 218321,
 218409,
 218493,
 218817,
 218828,
 219507,
 219542,
 219549,
 220133,
 220267,
 220277,
 220278,
 220339,
 220342,
 220481,
 220523,
 221108,
 221230,
 221234,
 221326,
 221328,
 221609,
 221628,
 221632,
 221729,
 221778,
 221786,
 221862,
 221984,
 222199,
 222383,
 222447,
 222448,
 222593,
 222600,
 222757,
 223267,
 223290,
 223501,
 223550,
 223734,
 223809,
 223969,
 224074,
 224081,
 224093,
 224157,
 224159,
 224180,
 224194,
 224200,
 224240,
 224483,
 224488,
 224494,
 224604,
 224744,
 225122,
 225215,
 225241,
 225256,
 226053,
 226068,
 226073,
 226157,
 226254,
 226380,
 226395,
 226400,
 226402,
 226411,
 226421,
 226422,
 226474,
 226488,
 226491,
 226553,
 226669,
 226673,
 226716,
 226729,
 226736,
 226746,
 226774,
 226814,
 226850,
 226853,
 226875,
 226883,
 226885,
 227079,
 227083,
 227104,
 227155,
 227450,
 227463,
 227620,
 227685,
 227833,
 227864,
 228009,
 228218,
 228241,
 228243,
 228248,
 228254,
 228400,
 228467,
 228763,
 228814,
 228846,
 228888,
 228939,
 228947,
 229002,
 229021,
 229058,
 229107,
 229108,
 229125,
 229148,
 229159,
 229170,
 229178,
 229317,
 229436,
 229673,
 229677,
 229692,
 229776,
 229794,
 229854,
 229863,
 229904,
 229910,
 229921,
 229943,
 230071,
 230117,
 230202,
 230417,
 230503,
 230546,
 230642,
 230724,
 230739,
 230780,
 230800,
 230809,
 230955,
 231236,
 231266,
 231339,
 231365,
 231396,
 231450,
 231602,
 231604,
 231750,
 231760,
 231991,
 232114,
 232131,
 232137,
 232236,
 232243,
 232364,
 232508,
 233185,
 233200,
 233227,
 233231,
 233347,
 233430,
 233535,
 233569,
 233666,
 233681,
 233741,
 233754,
 233822,
 233881,
 233995,
 234096,
 234106,
 234455,
 234499,
 234523,
 234612,
 234642,
 234864,
 216472,
 217442,
 218269,
 218321,
 218493,
 222199,
 224483,
 225241,
 226157,
 227079,
 227104,
 227155,
 227833,
 227864,
 228400,
 228467,
 229058,
 229107,
 229108,
 229129,
 229148,
 229159,
 229170,
 229178,
 229776,
 229854,
 229863,
 229904,
 229910,
 229921,
 229943,
 230503,
 230546,
 230642,
 230780,
 230800,
 230809,
 230837,
 231236,
 231266,
 231339,
 231365,
 231450,
 231991,
 232114,
 232131,
 232236,
 232243,
 233347,
 233430,
 233535,
 234455,
 234499,
 234523,
 234612,
 234864,
 370574,
 260203,
 260739,
 260743,
 260904,
 356589,
 21914,
 187,
 246,
 22525,
 246,
 37892,
 41142,
 41241,
 29146,
 29281,
 32501,
 38668,
 38648,
 38658,
 40096,
 40102,
 40406,
 60744,
 60972,
 69140,
 69179,
 69222,
 69241,
 69259,
 52772,
 52855,
 53059,
 53112,
 53116,
 53331,
 65403,
 65643,
 65688,
 65698,
 65722,
 65732,
 65771,
 52561,
 53485,
 63069,
 53204,
 53301,
 68209,
 68216,
 68240,
 77528,
 80160,
 80225,
 89989,
 92242,
 106440,
 111398,
 111425,
 98031,
 103443,
 109003,
 94327,
 95144,
 95745,
 107073,
 108659,
 93136,
 93165,
 93737,
 94274,
 96396,
 99778,
 104591,
 105117,
 96396,
 96621,
 108418,
 111959,
 97473,
 97954,
 108418,
 111549,
 116395,
 118451,
 118608,
 142398,
 142581,
 158463,
 162844,
 166787,
 168495,
 174638,
 155508,
 168268,
 168899,
 169198,
 216620,
 216670,
 219542,
 213795,
 216620,
 216657,
 216670,
 218269,
 220439,
 227730,
 227833,
 227864,
 229854,
 219542,
 220267,
 220277,
 220278,
 230503,
 228947,
 229002,
 229021,
 229058,
 229125,
 229129,
 229159,
 229178,
 230724,
 230739,
 230800,
 230809,
 231750,
 231760,
 214959,
 212301,
 214877,
 226774,
 226883,
 226669,
 212094,
 214965,
 239670,
 239377,
 251028,
 252983,
 310222,
 291180,
 305073,
 298801,
 296372,
 297584,
 299002,
 299408,
 311133,
 316789,
 322142,
 326485,
 326837,
 326866,
 327915,
 327994,
 328054,
 328125,
 318825,
 318858,
 335686,
 335706,
 330087,
 328928,
 333059,
 333092,
 333098,
 313731,
 331433,
 331451,
 315499,
 315896,
 345192,
 338212,
 350709,
 350730,
 350936,
 357942,
 358252,
 363702,
 363794,
 375283,
 375283,
 375338,
 376933,
 376941,
 376953,
 377232,
 377305,
 97017,
 96396,
 99778,
 97017,
 111664,
 96396,
 99778,
 63069,
 64472,
 65063,
 65092,
 65771,
 65809,
 65823,
 68522,
 69215,
 69222,
 69232,
 69241,
 69259,
 69281,
 69291,
 69323,
 333092,
 333583,
 333594,
 333603,
 331433,
 331451,
 333869,
 334044,
 334065,
 335285,
 335389,
 335434,
 334292,
 334877,
 334917,
 312102,
 312168,
 312232,
 312950,
 97017,
 96396,
 96621,
 295126,
 295554,
 297565,
 297593,
 298203,
 298251,
 298265,
 298399,
 298704,
 298801,
 299002,
 299408,
 299808,
 299915,
 299918,
 299953,
 299994,
 300212,
 300769,
 301191,
 301637,
 302096,
 302209,
 303985,
 304037,
 312950,
 313010,
 313062,
 313072,
 313640,
 313642,
 313651,
 313731,
 313742,
 313751,
 313907,
 53555,
 57093,
 57814,
 57900,
 57952,
 324738,
 324762,
 324791,
 324799]

In [72]:
full_count = collections.defaultdict(int)

for _, row in mt_hireq.iterrows():
    tf_id = row.tf_id
    has_vowel = row.has_vowel_letter
    bo, ch, ve = row.book, row.chapter, row.verse
    lex = row.lex
    g_cons = row.g_cons

        
    #print(tf_id, row.book)
    if tf_id in dss_match_ids:
        dss_relevant = dss_hireq[dss_hireq.mt_match == str(tf_id)]
        #print(dss_relevant.shape[0])
        for _, dss_row in dss_relevant.iterrows():
            has_vowel_dss = dss_row.has_vowel_letter
            scroll = dss_row.scroll
            g_cons_dss = dss_row.g_cons
            
            full_count[(has_vowel_dss, has_vowel)] += 1
            if has_vowel != has_vowel_dss:
                print(dss_relevant.shape[0], tf_id, bo, ch, ve, lex, g_cons, g_cons_dss, has_vowel, has_vowel_dss, scroll)
            #if has_vowel == 0 and has_vowel_dss == 0:
            #    print(dss_relevant.shape[0], tf_id, bo, ch, ve, lex, g_cons, g_cons_dss, has_vowel, has_vowel_dss, scroll)
            
print(full_count)

1 29281 Exodus 2 9 HLK[ HJLJKJ HLK 1 0 4Q13
1 64472 Leviticus 20 4 <LM[ J<LJMW J<LMW 1 0 11Q1
2 65771 Leviticus 22 22 QRB[ TQRJBW TQRBW 1 0 11Q1
1 69215 Leviticus 27 14 QDC[ JQDC JQDJC 0 1 11Q1
1 89989 Numbers 32 5 <BR[ T<BRNW T<BJRNW 0 1 4Q27
1 93165 Deuteronomy 1 17 QRB[ TQRBWN TQRJBWN 0 1 4Q35
1 94274 Deuteronomy 2 28 CBR=[ TCBRNJ TCBJRNJ 0 1 4Q35
1 95144 Deuteronomy 3 28 NXL[ JNXJL JNXL 1 0 4Q31
5 96396 Deuteronomy 5 5 NGD[ HGJD HGD 1 0 8Q3
3 97017 Deuteronomy 6 2 >RK[ J>RKN J>RJKWN 0 1 Xq2
1 97954 Deuteronomy 7 24 CMD[ HCMDK HCMJDK 0 1 4Q45
3 99778 Deuteronomy 11 9 >RK[ T>RJKW T>RKWN 1 0 4Q138
1 106440 Deuteronomy 24 4 XV>[ TXVJ> TXV> 1 0 4Q28
1 111425 Deuteronomy 31 29 K<S[ HK<JSW HK<SW 1 0 4Q29
1 142398 1_Samuel 2 16 QVR[ JQVJRWN JQVR 1 0 4Q51
1 158463 1_Samuel 27 11 NGD[ JGDW JGJDW 0 1 4Q51
1 168495 2_Samuel 14 19 FM>L[ HFMJL HFM>L 1 0 4Q51
1 216791 Isaiah 13 20 RBY[ JRBYW JRBJYW 0 1 1Qisaa
1 218828 Isaiah 21 7 QCB[ HQCJB HQCB 1 0 1Qisaa
1 219507 Isaiah 23 8 <VR[ M<VJRH M<VRH 1 0 1Qisaa
1 219549 Isaiah 23 11 CMD[ CMD HCMJD 0 1 1Qisaa
1 221326 Isaiah 28 29 PL>[ HPLJ> HPLH 1 0 1Qisaa
1 221609 Isaiah 29 14 PL>[ HPLJ> HPLH 1 0 1Qisaa
1 222448 Isaiah 30 33 RXB[ HRXB HRXJBJ 0 1 1Qisaa
1 224744 Isaiah 37 25 XRB[ >XRB >XRJBH 0 1 1Qisaa
1 226850 Isaiah 42 21 GDL[ JGDJL JGDL 1 0 1Qisaa
1 226853 Isaiah 42 21 >DR[ J>DJR J>DRHH 1 0 1Qisaa
1 227685 Isaiah 44 18 FKL[ HFKJL HFKL 1 0 1Qisaa
3 227833 Isaiah 44 26 CLM[ JCLJM JCLM 1 0 4Q56
3 227864 Isaiah 44 28 CLM[ JCLM JCLJM 0 1 1Qisaa
3 227864 Isaiah 44 28 CLM[ JCLM JCLJM 0 1 1Q8
3 229058 Isaiah 48 17 DRK[ MDRJKK MDRKJK 1 0 1Q8
1 229436 Isaiah 49 17 XRB[ MXRBJK MXRJBJK 0 1 1Qisaa
2 230724 Isaiah 53 10 >RK[ J>RJK J>RK 1 0 1Qisaa
2 230780 Isaiah 53 12 PG<[ JPGJ< JPG< 1 0 1Qisaa
1 230837 Isaiah 54 4 XPR[ TXPJRJ TXPRJ 1 0 1Q8
2 232114 Isaiah 58 10 FB<[ TFBJ< TFBJ 1 0 1Q8
2 232236 Isaiah 59 2 BDL[ MBDLJM MBDJLJM 0 1 1Qisaa
2 232236 Isaiah 59 2 BDL[ MBDLJM MBDJLJM 0 1 1Q8
2 233347 Isaiah 62 6 ZKR[ MZKRJM MZKJRJM 0 1 1Qisaa
2 233347 Isaiah 62 6 ZKR[ MZKRJM MZKJRJM 0 1 1Q8
1 291180 Hosea 2 5 PCV[ >PCJVNH >PCVNH 1 0 4Q79
1 297584 Amos 8 5 CBR=[ NCBJRH NCBJM 1 0 4Q82
2 299408 Jonah 4 6 NYL[ HYJL HYL 1 0 4Q82
1 334044 Psalms 136 14 <BR[ H<BJR H<BR 1 0 11Q5
1 334292 Psalms 138 3 RHB[ TRHBNJ TRHJBNJ 0 1 11Q5
1 334917 Psalms 142 8 KTR[ JKTRW JKTJRW 0 1 11Q5
1 338212 Job 8 15 XZQ[ JXZJQ JXZQ 1 0 4Q100
1 358252 Song_of_songs 4 2 T>M[ MT>JMWT MT>MWT 1 0 4Q107
2 375283 Daniel 8 4 GDL[ HGDJL HGDL 1 0 4Q113
1 376933 Daniel 11 1 XZQ[ MXZJQ MXZQ 1 0 4Q114
defaultdict(<class 'int'>, {(1, 1): 507, (0, 1): 31, (1, 0): 20, (0, 0): 22})

In [75]:
pd.crosstab(dat.g_cons.str[-1], dat.has_vowel_letter)

has_vowel_letter   0    1
g_cons
<                  6  126
>                 13   34
B                 15  128
C                  8   67
D                 10  254
G                  2   22
H                 23  132
J                 34  157
K                 20  146
L                 21  215
M                 61  182
N                 23   55
P                  3   17
Q                  8   84
R                 34  223
S                  0   16
T                 35   96
V                  7   59
W                 54  663
X                  6   62
Y                  3    5
Z                  0   12

In [76]:
pd.crosstab(dat.lex.str[0], dat.has_vowel_letter)

has_vowel_letter   0    1
lex
<                 27  125
>                 22  138
B                  9   49
C                 49  425
D                  8   15
F                  9   87
G                  7   34
H                  6   28
K                 27  114
L                  7   19
M                 11   55
N                 65  716
P                 21   72
Q                 25  299
R                 18  106
S                 23   47
T                  1    6
V                  0    1
X                 42  258
Y                  5   91
Z                  4   70

In [78]:
pd.crosstab(dat.lex.str[2], dat.has_vowel_letter)

has_vowel_letter   0    1
lex
<                 19  214
>                 30   66
B                 31  241
C                 17  121
D                 23  380
G                  9   50
K                 22  165
L                 41  374
M                 20   85
N                 12   93
P                 10   45
Q                 14  167
R                 75  329
S                 17   43
T                 18  148
V                 11  108
X                  6   98
Y                 10   15
Z                  1   13